body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
}
a:hover {
  color: red;
}

ul {
  list-style: none;
}

H3 {
  margin-bottom: 5px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.cards .card {
  flex-basis: 32%;
  margin: 0 1% 20px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #ccc;
}